.wrapper__ContentListFilmTix{
    width: 940px;
    margin: 0px auto;
}
.wp__filmListNav{
    ul.nav__tabListFilm{
        font-weight: 500 !important;
        margin-bottom: 30px !important;
        align-items: center;
        display: flex;
        border-bottom:none;
        width: 350px ;
        margin: 0px auto ;
        li{
            a{
                border: none;
                transition: 0.5s all;
                font-size: 25px;
                transform: scale(0.7);
                font-weight: 600;
                cursor: pointer;
                color: #000;
                &:hover{
                 
                    transform:scale(1);
                    border-color: #ffffff !important;
                }
            }
            a.nav-link.active{
                font-weight: 600;
                transition: 0.5s all ease-in-out;
                transform: scale(1);
                color: #fa5238;
            }
            &:hover{
                margin-left:0px 12px;
            }
        }
    }
    .container-fluid--fixed{
        padding-left:0px;
        padding-right: 0px;
    }
}
