.wrapper__tab{
    display: flex;
    h3{
        display: none;
    }
}
.wrapper__systemCinema--fixed{
    width: 940px;
    margin: 0px auto;
    .bg__back-news{
    background-image: url(../../../assets/back-news.png);
    height: 150px !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center center;
    }
}
