a{
    text-decoration: none !important;
}
.film{
    display: inline-block;
    width: 215px;
    height: 430px;
    position: relative;
}
a.link__film{
    position: absolute;
    display: block;
    overflow: hidden;
    height: 307px;
    border-radius: 4px;
}
.hoverInfo{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.hoverInfo button{
    transition: 0.7s all;   
    width: 70px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    outline: none;
    border: none;
    background-color: transparent;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.info__film{
    width: 100%;
    position: absolute;
    bottom: 45px;
    height: 68px;
}
.nameFilm{
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600 !important;
    line-height: 20px;
    font-size: 16px;
    height: 42px;
}
.nameFilm .codeFilm{
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 7px;
    display: inline-block;
    background-color: red;
    color: white;
    margin-right: 4px;
}
.timeFilm{
    margin-top: 10px;
    font-weight: 600;
    color: #2b2929c9;
    font-size: 13px;
}
.showHover{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    top:0px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 3px;
    width: 100%;
    background: linear-gradient(104deg, rgba(213,15,15,0.9923319669664741) 0%, rgba(255,80,0,1) 53%);
    text-align: center;
a{

    padding: 10px 0px;
    display: block;
}
}
.film:hover .showHover, .film:hover .hoverInfo button{
    visibility: visible;
    opacity: 1;

}
.film:hover .hoverInfo button{
    width:60px;
    transition: 0.7s all;
    margin: 0 auto;
}
.film:hover .nameFilm, .film:hover .timeFilm{
    visibility: hidden;
    opacity: 0;
}
.film:hover .hoverInfo{
border-radius: 4px;
transition: background-color 0.3s linear;
background: linear-gradient(to top,#000,transparent 100%);
}