a{
    text-decoration: none !important;
}
.film{
display: inline-block;
width: 215px;
height: 430px;
position: relative;
}
a.link__film{
position: absolute;
display: block;
overflow: hidden;
height: 307px;
img{
    border-radius: 5px;
}
}
.hoverInfo{
top: 0;
left: 0;
position: absolute;
width: 100%;
height: 100%;
}
.hoverInfo button{
transition: 0.7s all;   
width: 70px;
opacity: 0;
visibility: hidden;
transition: visibility 0s, opacity 0.5s linear;
outline: none;
border: none;
background-color: transparent;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}
.info__film{
width: 100%;
position: absolute;
bottom: 45px;
height: 68px;
}
.nameFilm{
    color: #080101;
    line-height: 20px;
    font-size: 16px;
    height: 42px;
}
.nameFilm .codeFilm{
font-size: 14px;
border-radius: 3px;
padding: 3px 5px;
display: inline-block;
background-color: red;
color: white;
margin-right: 3px;
}
.timeFilm{
color: #504e4e;
font-size: 13px;
}
.showHover{
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.5s linear;
top:0px;
font-size: 20px;
cursor: pointer;
position: absolute;
border-radius: 3px;
padding: 10px 0px;
width: 100%;
background: #fb4226;
text-align: center;
}
.film:hover .showHover, .film:hover .hoverInfo button{
visibility: visible;
opacity: 1;

}
.film:hover .hoverInfo button{
width:60px;
transition: 0.7s all;
margin: 0 auto;
}
.film:hover .nameFilm, .film:hover .timeFilm{
visibility: hidden;
opacity: 0;
}
.film:hover .hoverInfo{
border-radius: 5px;
transition: background-color 0.3s linear;
background: linear-gradient(to top,#000,transparent 100%);
}
@media screen and (max-width:768px) {
    .film{
        font-size: 13px;
        height: 380px;
        width: 175px;
        }
    .showHover{
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .film{
        height: 200px;
        width: 130px;
        .info__film{
            display: none;
        }
        }
    .showHover{
        display: none;
    }
  }
  @media screen and (max-width: 400px) {
    .film{
        height: 185px;
        width: 120px;
        .info__film{
            display: none;
        }
    }
  }