.wp__tabLeftDetailMovie{
    border-right: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 30%;
    height: 700px;
    background: white;
    ul.tabLeftDetailMenu{
      overflow: auto;  
      padding: 0px 15px;
    }
  }