li.top__detail__item{
  margin-right: 30px;
  cursor: pointer;
    opacity: 0.5;
    color: #232222;
    font-size: 14px;
    text-align: center;
    display: block;
    p{
      font-size: 18px;
    }
  }