.dropdown-item--listFilm{
    display: block !important; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600 !important;
}